.search-container {
  padding-right: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 200px;
  overflow: hidden;
}
.logo {
  padding: 30px 0;
}
.logo-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 30%;
}
.search-div {
  width: 85%;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.search {
  width: 100%;
  border-radius: 25rem;
  height: 50px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  padding-left: 20px;
}
